<div class="p-4 pt-0 pb-2">
  <!-- question label  -->
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <label class="form-label col">
          {{ elementModel.question.text }}
          <span *ngIf="elementModel.required">*</span>
        </label>
      </div>
      <div>
        <select class="form-select">
          <option value="singleSelection">Single Selection</option>
          <option value="multipleSelection">Multiple Selection</option>
          <option selected value="openQuestion">Open Question</option>
          <option selected value="titleQuestion">Title Question</option>
        </select>
      </div>
    </div>
  </div>

  <div [ngSwitch]="elementModel.question.type">
    <!-- FREE TEXT  -->
    <div *ngSwitchCase="'freeText'">
      <div class="row">
        <div class="col-6">
          <input
            class="form-control"
            *ngIf="elementModel.question.type === 'freeText'"
            type="text"
            [placeholder]="elementModel.question.placeholder"
          />
        </div>
      </div>
    </div>
    <!-- END OF FREE TEXT -->
    <!-- RADIO  -->
    <div *ngSwitchCase="'radio'">
      <div cdkDropList (cdkDropListDropped)="dropRadioAnswer($event)">
        <!-- offeredAnswers -->
        <div
          class="row"
          *ngFor="
            let offeredAnswer of elementModel.question?.offeredAnswers;
            last as isLast
          "
          cdkDrag
        >
          <div class="col-1">
            <!-- TODO: change icon -->
            <i class="material-icons text-muted">drag_indicator</i>
          </div>
          <div class="col">
            <div class="form-check">
              <!-- radio button -->
              <input
                class="form-check-input"
                type="radio"
                name="offeredAnswer.id"
              />
              <label class="form-check-label" for="offeredAnswer.id">
                {{ offeredAnswer.value }}</label
              >
              <!-- remarks -->
              <div *ngIf="offeredAnswer.remarkAnswer" class="col">
                <input
                  class="form-control"
                  type="text"
                  name="offeredAnswer.id+'remark'"
                  placeholder="insert your remark"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF RADIO  -->
    <!-- CHECKBOX  -->
    <div *ngSwitchCase="'checkbox'">
      <div cdkDropList (cdkDropListDropped)="dropRadioAnswer($event)">
        <!-- offeredAnswers -->
        <div
          class="row"
          *ngFor="
            let offeredAnswer of elementModel.question?.offeredAnswers;
            last as isLast
          "
          cdkDrag
        >
          <div class="col-1">
            <!-- TODO: change icon -->
            <i class="material-icons text-muted">drag_indicator</i>
          </div>
          <div class="col">
            <div class="form-check">
              <!-- radio button -->
              <input
                class="form-check-input"
                type="radio"
                name="offeredAnswer.id"
              />
              <label class="form-check-label" for="offeredAnswer.id">
                {{ offeredAnswer.value }}</label
              >
              <!-- remarks -->
              <div *ngIf="offeredAnswer.remarkAnswer" class="col">
                <input
                  class="form-control"
                  type="text"
                  name="offeredAnswer.id+'remark'"
                  placeholder="insert your remark"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CHECKBOX -->
  </div>
  <hr />
  <!-- action row -->
  <div class="d-flex flex-row-reverse">
    <div class="material-icons p-2 pt-0">delete</div>
    <div class="material-icons p-3 pt-0">file_copy</div>
    <div class="form-check p-2 pt-0">
      <input class="form-check-input" type="checkbox" name="isRequired" />
      <label class="form-check-label" for="isRequired"> mandatory</label>
    </div>
    <!-- end of action row -->
  </div>
</div>
