<!-- title card -->

<div #title class="card p-2 m-2" cdkDrag>
  <h1>Dynamic form samples</h1>
  <!-- <i class="material-icons">add</i> -->
</div>
<div
  [formGroup]="mainForm"
  cdkDropList
  class="container mt-3"
  (cdkDropListDropped)="dropCardElement($event)"
>
  <div>
    <div
      formArrayName="questionList"
      class="myDiv row"
      *ngFor="let element of questionListArray; let i = index"
    >
      <!-- Question card -->
      <div
        (click)="onCardClick(element, $event)"
        cdkDrag
        class="card row mt-3 callout callout-info p-0"
      >
        <div class="row">
          <!-- drag handle -->
          <div class="text-center draggable p-0 m-0">
            <i class="material-icons p-0 m-0 text-muted">drag_handle</i>
          </div>
          <!-- <pre>{{ element.value | json }}</pre> -->
          <form-question
            [questionFormGroup]="element"
            [questionIndex]="i"
          ></form-question>
          <div class="pl-2">
            <hr />
          </div>
          <div [formGroupName]="i" class="d-flex flex-row-reverse">
            <div
              class="material-icons p-2 pt-0"
              type="button"
              (click)="deleteQuestion(i)"
            >
              delete
            </div>
            <div
              class="material-icons p-2 pt-0"
              type="button"
              (click)="duplicateQuestion(i)"
            >
              file_copy
            </div>
            <div class="form-check p-2 pt-0">
              <input
                formControlName="required"
                class="form-check-input"
                type="checkbox"
                name="isRequired"
              />
              <label class="form-check-label" for="isRequired">
                mandatory</label
              >
            </div>
          </div>
        </div>
        <div class="d-flex" style="position: absolute; left:44em;  ">
          <div class="row card">
            <div class="col-12 mt-2">
              <i
                type="button"
                (click)="addNewQuestion(i, 'test')"
                class="material-icons"
                >add</i
              >
            </div>
            <div class="col-12">
              <i class="material-icons">title</i>
            </div>
          </div>
        </div>
      </div>
      <!-- end of question card -->
    </div>
  </div>
</div>
