<!-- title card -->

<div #title class="card p-2 m-2" cdkDrag>
  <h1>Dynamic form samples</h1>
  <!-- <i class="material-icons">add</i> -->
</div>
<div
  [formGroup]="mainForm"
  cdkDropList
  class="container mt-3"
  (cdkDropListDropped)="dropCardElement($event)"
>
  <div >
    <div
      formArrayName="questionList"
      class="myDiv"
      *ngFor="
        let element of mainForm.get('questionList')['controls'];
        let i = index
      "
      cdkDrag
    >
      <!-- Question card -->
      <div
        (click)="onCardClick(element, $event)"
        class="card row mt-3 draggable callout callout-info p-0"
      >
        <div class="row">
          <!-- drag handle -->
          <div class="text-center draggable p-0 m-0">
            <i class="material-icons p-0 m-0 text-muted">drag_handle</i>
          </div>

          <form-question
            [questionIndex]="i"
            [elementModel]="element"
          ></form-question>
        </div>
      </div>
      <!-- end of question card -->
    </div>
  </div>
</div>
