<div class="container mt-3">
  <div class="card p-2">
    <p>Untitled Form</p>
    <i class="material-icons">add</i>
  </div>

  <div class="card p-2 mt-3">
    <p>Untitled Form</p>
    <div class="row">
      <div class="col-6">
        <input type="text" />
      </div>
      <div class="col-6">
        <label for="typeOfQuestion">Choose a type:</label>
        <select name="typeOfQuestion" id="typeOfQuestion">
          <option value="">Free text</option>
          <option value="">Multiple Choice</option>
          <option value="">Checkbox</option>
        </select>
      </div>
    </div>
  </div>
</div>
