<!-- title card -->
<div #title class="card p-2" cdkDrag>
  <h1>Dynamic form samples</h1>
  <!-- <i class="material-icons">add</i> -->
</div>
<div
  cdkDropList
  class="container mt-3"
  (cdkDropListDropped)="dropCardElement($event)"
>
  <div class="myDiv" *ngFor="let element of cardElements" cdkDrag>
    <div class="card p-2 mt-3 draggable">
      <div class="text-center p-0 m-0">
        <i class="material-icons text-center p-0 m-0">drag_handle</i>
      </div>
      <!-- question label  -->
      <label class="form-label">
        {{ element.question.text }}
        <span *ngIf="element.required">*</span>
      </label>
      <div [ngSwitch]="element.question.type">
        <!-- FREE TEXT  -->
        <div *ngSwitchCase="'freeText'">
          <div class="row">
            <div class="col-6">
              <input
                class="form-control"
                *ngIf="element.question.type === 'freeText'"
                type="text"
                [placeholder]="freeTextQuestion.question.placeholder"
              />
            </div>
          </div>
        </div>
        <!-- END OF FREE TEXT -->
        <!-- RADIO  -->
        <div *ngSwitchCase="'radio'">
          <div cdkDropList (cdkDropListDropped)="dropRadioAnswer($event)">
            <!-- offeredAnswers -->
            <div
              class="row"
              *ngFor="
                let offeredAnswer of element.question?.offeredAnswers;
                last as isLast
              "
              cdkDrag
            >
              <div class="col">
                <div class="form-check">
                  <!-- radio button -->
                  <input
                    class="form-check-input"
                    type="radio"
                    name="offeredAnswer.id"
                  />
                  <label class="form-check-label" for="offeredAnswer.id">
                    {{ offeredAnswer.value }}</label
                  >
                  <!-- remarks -->
                  <div *ngIf="offeredAnswer.remarkAnswer" class="col">
                    <input
                      class="form-control"
                      type="text"
                      name="offeredAnswer.id+'remark'"
                      placeholder="insert your remark"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF RADIO  -->
        <!-- CHECKBOX  -->
        <div *ngSwitchCase="'checkbox'">
          <div cdkDropList (cdkDropListDropped)="dropRadioAnswer($event)">
            <!-- offeredAnswers -->
            <div
              class="row"
              *ngFor="
                let offeredAnswer of element.question?.offeredAnswers;
                last as isLast
              "
              cdkDrag
            >
              <div class="col">
                <div class="form-check">
                  <!-- radio button -->
                  <input
                    class="form-check-input"
                    type="radio"
                    name="offeredAnswer.id"
                  />
                  <label class="form-check-label" for="offeredAnswer.id">
                    {{ offeredAnswer.value }}</label
                  >
                  <!-- remarks -->
                  <div *ngIf="offeredAnswer.remarkAnswer" class="col">
                    <input
                      class="form-control"
                      type="text"
                      name="offeredAnswer.id+'remark'"
                      placeholder="insert your remark"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF CHECKBOX -->
      </div>
    </div>
  </div>
</div>
