<div
  *ngIf="questionFormGroup.get('title'); then titleEle; else questionEle"
></div>
<ng-template #titleEle>
  <div [formGroup]="questionFormGroup">
    <div formGroupName="title" class="row">
      <div class="col input-group-lg">
        <label>{{ questionFormGroup.get('title.text').value }}</label>
        <!-- 
        <p>
          <small>{{ questionFormGroup.get('title.description').value }}</small>
        </p> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #questionEle [formGroup]="questionFormGroup" class="pt-0 pb-2">
  <div
    #questionEle
    formGroupName="question"
    class="d-flex justify-content-between pb-2"
  ></div>

  <label>{{ questionFormGroup.get('question.text').value }}</label>
  <div [ngSwitch]="questionType.value" class="pt-2 pb-4">
    <div *ngSwitchCase="'freeText'">
      <div class="row">
        <div class="col">
          <input
            class="form-control"
            type="text"
            placeholder="open text answer"
          />
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'singleSelection'">
      <div formGroupName="question">
        <div
          formArrayName="offeredAnswers"
          class="row"
          *ngFor="
            let offeredAnswer of questionFormGroup.get(
              'question.offeredAnswers'
            )['controls'];
            let i = index
          "
        >
          <div class="col-7" [formGroupName]="i">
            <div class="form-check">
              <label
                class="form-check-label"
                [for]="'offeredAnswer' + offeredAnswer.value.orderNo"
              >
                {{ offeredAnswer.value.value }}
                <input
                  class="form-check-input"
                  type="radio"
                  [name]="'offeredAnswer' + offeredAnswer.value.orderNo"
                />
                <div
                  *ngIf="offeredAnswer.value.remarkAnswer"
                  class="col mt-1 mb-2"
                >
                  <input
                    class="form-control"
                    type="text"
                    [name]="'offeredAnswerRemark' + offeredAnswer.value.orderNo"
                    placeholder="insert your remark"
                    disabled
                  />
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
